* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mem-slider {
  background-color: black;
  height: 100vh;
  padding-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: 0 auto;
  padding: 1.2%;
  padding-bottom: 3%;
  background-color: #282828;
  border-radius: 1rem;
  box-shadow: 0 0 3px 1px #00a1ff inset;
}

input {
  display: none;
}

.overflow {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
}

.slide {
  flex-shrink: 0;
  transition: 0.3s;
  width: 100%;
}

.img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.slide1 {
  transform: translateX(-100%);
}

#slide1:checked ~ #slides .slide1 {
  transform: translateX(0);
}

#slide2:checked ~ #slides .slide2 {
  transform: translateX(-100%);
}

#slide3:checked ~ #slides .slide3 {
  transform: translateX(-200%);
}

#slide4:checked ~ #slides .slide4 {
  transform: translateX(-300%);
}

#slide3:checked ~ #slides .slide1,
#slide3:checked ~ #slides .slide2 {
  transform: translateX(-200%);
}

#slide4:checked ~ #slides .slide1,
#slide4:checked ~ #slides .slide2,
#slide4:checked ~ #slides .slide3 {
  transform: translateX(-300%);
}

.text-1 {
  transform: translateX(-100%);
}

#slide1:checked ~ #group #text .text-1 {
  transform: translateX(0);
}

#slide2:checked ~ #group #text .text-2 {
  transform: translateX(-100%);
}

#slide3:checked ~ #group #text .text-3 {
  transform: translateX(-200%);
}

#slide4:checked ~ #group #text .text-4 {
  transform: translateX(-300%);
}

#slide3:checked ~ #group #text .text-1,
#slide3:checked ~ #group #text .text-2 {
  transform: translateX(-200%);
}

#slide4:checked ~ #group #text .text-1,
#slide4:checked ~ #group #text .text-2,
#slide4:checked ~ #group #text .text-3 {
  transform: translateX(-300%);
}

.slider-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-controls {
  display: flex;
  justify-content: end;
}

.slider-text {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 80%;
}

.slider-controls,
.slider-text {
  margin-top: 1rem;
}

.text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 40px;
  font-size: 22px;
  color: white;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #00a1ff;
  background-color: #00a1ff;
  transition: all 0.3s linear;
}

.label:hover .span {
  border: 2px solid white;
  background-color: white;
}

.label:active .span {
  border: 2px solid rgb(121, 121, 121);
  background-color: rgb(121, 121, 121);
}

#slide1:checked ~ #group > #control label[for="slide1"] .span {
  background-color: transparent;
}

#slide2:checked ~ #group > #control label[for="slide2"] .span {
  background-color: transparent;
}

#slide3:checked ~ #group > #control label[for="slide3"] .span {
  background-color: transparent;
}

#slide4:checked ~ #group > #control label[for="slide4"] .span {
  background-color: transparent;
}


@media screen and (max-width: 1440px) {
  .container {
    max-width: 60vw;
  }
}

@media screen and (max-width: 770px) {
  .container {
    max-width: 98vw;
    padding-bottom: 15%;
  }

  .slider-group {
    flex-direction: column;
  }

  .slider-text {
    order: 2;
    width: 100%;
  }

  .slider-controls {
    order: 1;
  }
}